
.about-sec {
    max-width: 1100px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: rgba(14, 53, 29, 0.85);
    border-radius: 40px;
    border: double black;
}


.about-wrapper h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}


.about-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2.5rem;
    align-items: center;
}

.about-card {
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1.2rem;
    color: #111;
}


.about-image {
    display: flex;
    justify-content: center;
}

.about-image img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #667eea;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

@media (max-width: 768px) {
    .about-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-image img {
        width: 180px;
        height: 180px;
    }
}
