
.projects-sec,.skills-sec {
    max-width: 1100px;
    margin: 3rem auto;
    padding: 2rem;
 background-color: rgba(55, 88, 71, 0.85);    border-radius: 40px;
    border: double black;
}
.projects-container h2 ,.skills-container h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.projects-grid,.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}
.project-card,.skill-card {
background-color: rgba(14, 53, 29, 0.85);
    padding: 1.8rem;
    color: #f8f5f5;
    border-radius: 25px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.project-card:hover,.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.35);
}


.project-card h3 {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
    color: #f8f7f7;
}

.project-card p {
    font-size: 1.1rem;
    color: #f8f5f5;
    line-height: 1.6;
}


.github-link {
    text-align: center;
    margin-top: 2.5rem;
    font-size: 1.2rem;
}

.github-link a {
    color: #faf9f9;
    font-weight: bold;
    text-decoration: none;
}

.github-link a:hover {
    text-decoration: underline;
}
