body{
    background-color: rgb(16, 15, 15);
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}
.about-container {
    max-width: 1100px;  
    margin: 40px auto;
    display: flex;
    align-items: center;
    gap: 40px;
}

.about {
    flex: 1;
    color: #f9f7f7;
}

.img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;  
    flex-shrink: 0;
    border: 4px solid #cb7171; 
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;     
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about {
        font-size: 1.3rem;
    }
}
.navbar nav ul,.navbar-skills nav ul,.navbar-projects nav ul,.navbar-contact nav ul{
    list-style-type: none;
    display: flex;
    gap: 3rem;
    opacity: 0.8;
    border-radius: 40px;
    padding: 30px;
background-color: rgba(14, 53, 29, 0.85);}
.list li a,.li li a,.li-skills li a,.li-projects li a,.li-contact li a{
    color:rgb(247, 246, 246);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
.about {
    padding: 20px;
    margin: auto;
    opacity: 0.8;
    border-radius: 60px;
    border-style: double;
    border-color: black;
background-color: rgba(14, 53, 29, 0.85);    color: rgb(244, 241, 241);
    font-size: 2rem;
}
.skills{
    padding: 7px;
background-color: rgba(14, 53, 29, 0.85);    opacity: 0.8;
    border-radius: 60px;
    font-size: 2rem;
    color: rgb(254, 254, 254);
      border-style: double;
    border-color: black;
    
}
.footer{
    font-size: 1.3rem;
    text-align: center;
    padding: 10px;
background-color: rgba(14, 53, 29, 0.85);     color: rgb(248, 247, 247);
    margin-top: 20px;
      opacity: 0.8;
      border-style: double;
      border-radius: 60px;
    border-color: black;
}
.navbar-about nav ul{
    list-style-type: none;
    display: flex;
    gap: 3rem;
    opacity: 0.8;
    border-radius: 40px;
    padding: 20px;
background-color: rgba(14, 53, 29, 0.85); }

.about-sec{
     padding: 7px;
background-color: rgba(14, 53, 29, 0.85);    opacity: 0.8;
    border-radius: 60px;
    font-size: 2rem;
    color: rgb(245, 244, 244);
      border-style: double;
    border-color: black;
}
