body{
    background-image:url(images/blue.jpg) ;
      background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    @media (min-width: 768px) {
  .blue { background-image: url("images/blue.jpg"); }
}
@media (min-width: 1200px) {
  .blue { background-image: url("images/blue.jpg"); }
}
}
.navbar nav ul {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    opacity: 0.8;
    border-radius: 40px;
    padding: 20px;
  background-color: rgb(203, 113, 113);
    
    
    
}
.list li a{
    color:rgb(10, 10, 10);
    text-decoration: none;
    font-size: 20px;
}
.about {
    padding: 20px;
    margin: auto;
    opacity: 0.8;
    border-radius: 60px;
    border-style: double;
    border-color: black;
   background-color: rgb(203, 113, 113);
    color: rgb(8, 8, 8);
    font-size: 2rem;
}
.skills {
    padding: 7px;
  background-color: rgb(203, 113, 113);
    opacity: 0.8;
    border-radius: 60px;
    font-size: 2rem;
    color: rgb(16, 15, 15);
      border-style: double;
    border-color: black;
    
}
.footer{
    font-size: 1.3rem;
    text-align: center;
    padding: 10px;
  background-color: rgb(203, 113, 113);
    color: rgb(11, 11, 11);
    margin-top: 20px;
      opacity: 0.8;
      border-style: double;
      border-radius: 60px;
    border-color: black;
}


.navbar-about nav ul{
    list-style-type: none;
    display: flex;
    gap: 3rem;
    opacity: 0.8;
    border-radius: 40px;
    padding: 20px;
  background-color: rgb(203, 113, 113);
}
.li li a{
    color:rgb(10, 10, 10);
    text-decoration: none;
    font-size: 20px;
}

.about-sec{
     padding: 7px;
  background-color: rgb(203, 113, 113);
    opacity: 0.8;
    border-radius: 60px;
    font-size: 2rem;
    color: rgb(16, 15, 15);
      border-style: double;
    border-color: black;
}