body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1e1e2f;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #2c2c3c;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}
.clr , .del{
    color: red;
}
.cal{
    color: rgb(28, 246, 28);
}
#display {
    color: white;
    width: 100%;
    height: 50px;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: right;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #444;
    color: white;
}

button:hover {
    background: #666;
}

.zero {
    grid-column: span 2;
}