
body{
    background-color:rgb(26, 26, 24);
    min-height: auto;
    display: grid;
    place-items: center;
    padding: 20px;
    opacity: 0.9;
    background-image: url(image/lamp.jpg);
}
h1{
    color: rgb(240, 238, 238);
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    animation: clouds 6s ease-in-out infinite;
}

@keyframes clouds {
  0% {
    transform: translateX(15px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(15px);
  }
}

.card {
 width: 300px;
 padding: 1.9rem 1.2rem;
 opacity: 0.95;
 text-align: center;
 background: rgb(64, 63, 63);
 border-radius: 20px;
 border-color: rgb(6, 6, 6);
 box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  transition: 
        transform 0.4s ease,
        box-shadow 0.4s ease;
}
.card:hover {
       transform: translateY(-8px) scale(1.02);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
    opacity: 100%;
    border-radius: 20px;
    border-style: double;
    border-color: black;
    transition: all 0.3s ease;
}
label{
    font-size: 20px;
    color: rgb(244, 242, 241);
}
#fname,#lname, #email, #pass, #cpass,#no{
    width: 270px;
}
/* button{
    width: 100px;
    justify-content: center;
} */
button {
  background: transparent;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 20px 30px;
  cursor: pointer;
  perspective: 30rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}

button::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(
    320deg,
    rgba(144, 37, 32, 0.678),
    rgba(128, 0, 128, 0.308)
  );
  z-index: 1;
  transition: background 3s;
}

button:hover::before {
  animation: rotate 1s;
  transition: all 0.5s;
}

@keyframes rotate {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
